<!doctype html>
<html lang="en" ng-app="translator">
<head>
  <meta charset="utf-8">

  <title>EPiTranslator</title>
  
  <!-- bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
  
  <!-- app styles -->
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>
  
  <section id="translations" ng-controller="TranslationsCtrl">
    <table class="table">
      <thead>
        <th>Keyword</th>
        <th ng-repeat="lang in langs">
          {{lang.Name}}
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="entry in entries">
          <td>{{entry.Keyword}}</td>
          
          <td ng-repeat="translation in entry.Translations">
            {{translation.Value}}
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <div ng-view></div>

  <div>Translator app: v<span app-version></span></div>
  
  <!-- libs -->
  <script src="lib/jquery-1.8.0.js"></script>
  <script src="lib/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  
  <!-- app -->
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>