<!doctype html>
<html lang="en" ng-app="translator">
<head>
  <meta charset="utf-8">

  <title>EPiTranslator</title>
  
  <!-- bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
  
  <!-- app styles -->
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>
  
  <div id="translator" ng-controller="TranslationsCtrl">
    <section id="controls">
      <div class="language-selector">
        <form>
          <label class="checkbox inline" ng-repeat="lang in langs">
            <input type="checkbox" id="cb-{{lang.Id}}-language" value="{{lang.Id}}" ng-model="lang.selected" />
            {{lang.Name}}
          </label>
        </form>
      </div>
    </section>
    
    <section id="translations">
      <table class="translations table table-striped table-hover">
        <thead>
          <th class="keyword-col">Keyword</th>
          <th class="language-col" ng-repeat="lang in langs | filter:selected">
            {{lang.Name}}
          </th>
        </thead>
        <tbody class="category" ng-repeat="category in categories">
          <tr class="category-header">
            <th colspan="3">{{category.Name}}</th>
          </tr>
          <tr ng-repeat="entry in category.Entries">
            <td class="keyword">{{entry.Keyword}}</td>
          
            <td class="translation" ng-repeat="translation in entry.Translations | filter:forSelectedLangs">
              {{translation.Value}}
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <div ng-view></div>
  
  <!-- libs -->
  <script src="lib/jquery-1.8.0.js"></script>
  <script src="lib/underscore.js"></script>
  <script src="lib/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/angular/angular-cookies.js"></script>
  
  <!-- app -->
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>