<div id="app" ng-controller="TranslationsCtrl" ng-cloak>
    
  <div class="row">
    <section id="controls" class="offset3">
      <div class="language-selector">
        <form>
          <label class="checkbox inline" ng-repeat="lang in langs">
            <input type="checkbox" id="cb-{{lang.Id}}-language" value="{{lang.Id}}" ng-model="lang.selected" />
            {{lang.Name}}
          </label>
        </form>
      </div>
      <div class="search">
        <form class="form-search">
          <input type="search" class="input-xxlarge" ng-model="query" placeholder="Filter by phrase, keyword or category..." autofocus/>
        </form>
      </div>
    </section>
  </div>
    
  <div class="row">
    <section id="categories" class="span3">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: !selectedCategory && !onlyNotTranslated}">
          <a href="#/translations">All</a>
        </li>
        <li ng-class="{active: onlyNotTranslated}">
          <a href="#/translations/not-translated">Not translated</a>
        </li>
        <li ng-repeat="category in categories" ng-class="{active: category.active}">
          <a href="#/translations/{{category.Name}}">{{category.Name}}</a>
        </li>
      </ul>
    </section>
      
    <section id="translations" class="span9">
      <table class="table table-striped table-hover">
        <thead>
          <th class="keyword-col">Keyword</th>
          <th class="language-col" ng-repeat="lang in langs | filter:selected">
            {{lang.Name}}
          </th>
        </thead>
        <tbody class="category" ng-repeat="category in categories | filter:selectedCategory | filter:haveNotTranslatedIfSelected | filter:query">
          <tr class="category-header">
            <th colspan="{{selectedLangs.length + 1}}">{{category.Name}}</th>
          </tr>
          <tr ng-repeat="entry in category.Entries | filter:notTranslatedIfSelected | filter:query">
            <td class="keyword">{{entry.Keyword}}</td>
          
            <td class="translation" ng-repeat="translation in entry.Translations | filter:forSelectedLangs" ng-class="{editing: translation == editedTranslation}">
              <div class="view">
                <span ng-show="translation.Value" ng-class="{fallback: translation.IsFallback}">{{translation.Value}}</span>
                <span ng-show="!translation.Value" class="error">[Missing]</span>
              </div>
              <form class="edit modal-form" name="editTranslationForm" ng-submit="doneEditing(translation)">
                <input type="text" class="input-block-level" name="translationValue" ng-model="translation.Value" required placeholder="Add translation..."
                       ng-click="edit(translation)" jq-blur="doneEditing(translation)" jq-doblur="translation.updated"
                       tb-tooltip="editTranslationForm.translationValue.$error.required" data-title="Translation value is required" data-trigger="manual"
                       jq-esc="undoEditing(translation)" tt-nextprevrow tt-nextprevcol tt-tabbable data-index="{{computeTranslationIndex(this)}}"
                  />

                <button type="submit" ng-show="translation == editedTranslation && translation.Value && translation.prevVal != translation.Value"
                        class="save" tabindex="9999"></button>
                <button type="button" ng-click="undoEditing(translation)"
                        ng-show="translation == editedTranslation && translation.Value && translation.prevVal != translation.Value"
                        class="undo" tabindex="9999" jq-enterleave="translation.canceling = true | translation.canceling = false"></button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

</div>