/* Translator styles */

#translations {
  
  }

  #translations table {
    table-layout: fixed;
  }

  #translations tbody tr.category-header th {
    background-color: gainsboro;
  }

  #translations tr td:first-child {
    padding-left: 30px;
  }

  /* view-edit mode transitions */
  #translations .translation .edit {
    display: none;
  }
  #translations .translation:hover,
  #translations .translation.editing {
    padding: 5px 7px 5px 1px;
  }
  #translations .translation:hover .edit,
  #translations .translation.editing .edit {
    display: block;
    margin-bottom: 0;
    min-height: 26px !important;
    height: 26px;
  }
  #translations .translation:hover .edit::-webkit-input-placeholder,
  #translations .translation.editing .edit::-webkit-input-placeholder {
    font-style: italic;
  }
  #translations .translation:hover .view {
    display: none;
  }
  #translations .translation.editing .edit {
    display: block;
  }
  #translations .translation.editing .view {
    display: none;
  }
  #translations .translation .view .error {
    color: crimson;
    font-weight: bold;
  }

#categories {

  }

  #categories ul {
    margin-top: 34px;
    text-align: right;
  }


/* Notify window styling */
div.jGrowl div.jGrowl-notification div.jGrowl-header {
	font-size:				.9em;
  padding-bottom: 2px;
  border-bottom: 1px solid gray;
  margin-bottom: 7px;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
  margin-top: -5px;
}


/* Validation tooltips styling */
.tooltip {
  font-size: 12px;
}

.tooltip.in {
  opacity: 1;
}

.tooltip.top .tooltip-arrow {
  border-top-color: crimson;
}

.tooltip .tooltip-inner {
  background-color: crimson;
}