/* Translator styles */

#translations {
  
  }

  #translations tbody tr.category-header th {
    background-color: gainsboro;
  }

  #translations tr td:first-child {
    padding-left: 30px;
  }

#categories {

  }

  #categories ul {
    margin-top: 34px;
    text-align: right;
  }